@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.bt-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.banner-img {
    width: 100%;
}

main {
    width: 80%;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}

.teams {
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features {
    margin-left: 73px;
    max-width: 530px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list {
    font-weight: 500;
}

.text-primary {
    color: #FF900E;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}

.fact {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-num {
    font-weight: 600;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

.fact-desc {
    width: 540px;
}

.fact-icon {
    padding-top: 20px;
}

.our-sponsors {
   
    margin: 20px auto;
}

.sponsor-comapnies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-comapnies img {
    filter: grayscale(100%);
}

#feature-section-title {
    border-left: 5px solid  #FF900E;
    padding-left: 20px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin: 20px;
    border-radius: 8px;
}

.feature-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.feature-top {
    gap: 60px;
}

.feature-card, .feature-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -80px;
    margin-top: -80px;
}

#experience-year {
    font-weight: 700;
    font-size: 4rem;
}

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams {
        flex-direction: column;
    }
    .teams-img-container, .facts-container, .sponsor-comapnies {
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container, .sponsor-comapnies {
        justify-items: center;
        gap: 24px;
    }
    .features {
        margin-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
    .teams-img-container, .facts-container, .sponsor-comapnies {
        grid-template-columns: repeat(2, 1fr);
    }
    .features {
        margin-left: 50px;
    }
}
